@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
    --page-background-color: #eee;
    --text-default-color: #333;
}

.theme-dark {
    --page-background-color: #333;
    --text-default-color: #eee;
}