
/**
 * Popper js - popper arrow
 *
 * Default 
 */

 $arrow-offset: -4px;

 [data-popper-arrow],
 [data-popper-arrow]::before {
     position: absolute;
     width: 8px;
     height: 8px;
     z-index: -1;
 }
 
 [data-popper-arrow]::before {
     content: '';
     transform: rotate(45deg);
     background-color: var(--background-tooltip);
 }
 
 .popper[data-popper-placement^='top']>[data-popper-arrow] {
     bottom: $arrow-offset;

     &::before {
        border-bottom: 1px solid var(--background-tooltip);
        border-right: 1px solid var(--background-tooltip);
     }
 }
 
 .popper[data-popper-placement^='bottom']>[data-popper-arrow] {
     top: $arrow-offset;

     &::before {
        border-top: 1px solid var(--background-tooltip);
        border-left: 1px solid var(--background-tooltip);
     }
 }
 
 .popper[data-popper-placement^='left']>[data-popper-arrow] {
     right: $arrow-offset;

     &::before {
        border-top: 1px solid var(--background-tooltip);
        border-right: 1px solid var(--background-tooltip);
     }
 }
 
 .popper[data-popper-placement^='right']>[data-popper-arrow] {
     left: $arrow-offset;

     &::before {
        border-bottom: 1px solid var(--background-tooltip);
        border-left: 1px solid var(--background-tooltip);
     }
 }


/**
 * Popper js - popper arrow
 *
 * Tooltip 
 */
 .tooltip {
    [data-popper-arrow],
    [data-popper-arrow]::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: -1;
    }
    
    [data-popper-arrow]::before {
        content: '';
        transform: rotate(45deg);
        background: var(--background-tooltip);
    }
    
    .popper[data-popper-placement^='top']>[data-popper-arrow] {
        bottom: $arrow-offset;
    }
    
    .popper[data-popper-placement^='bottom']>[data-popper-arrow] {
        top: $arrow-offset;
    }
    
    .popper[data-popper-placement^='left']>[data-popper-arrow] {
        right: $arrow-offset;
    }
    
    .popper[data-popper-placement^='right']>[data-popper-arrow] {
        left: $arrow-offset;
    }
 }